.containerCard{
    display: flex;
    justify-content: space-around;
}

.img-card{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.img-card3{
  width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.img-card2{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.btn-one{
  background-color: #fff;
   
  border-radius: 4px;
  color: #634ed5;
  cursor: pointer;
  font-weight: 500;
  margin-right: 10px;
  padding: 2px 16px;
  transition: all .4s ease-in-out;
}
  
.btn-three{
  background-color: #fff;
   
  border-radius: 4px;
  color: #634ed5;
  cursor: pointer;
  font-weight: 500;
  margin-right: 10px;
  padding: 2px 16px;
  transition: all .4s ease-in-out;
}

.btn-two{
  background-color: #fff;
   
  border-radius: 4px;
  color: #634ed5;
  cursor: pointer;
  font-weight: 500;
  margin-right: 10px;
  padding: 2px 16px;
  transition: all .4s ease-in-out;
}
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }